*{margin: 0;padding: 0;box-sizing: border-box;}
input{font-size: 16px;padding: 6px 10px;border-radius: 4px;border: solid 0px transparent;background-color: rgb(232, 232, 232);}
ul, li{list-style: none;}
li, p, button{margin: 10px;}
li{display: flex;}
    
/* ======== Login*/
.logTitle{font-size: 28px;text-align: center;margin: 40px 10px 20px 10px;}
.supAdminLoginBg{display: flex;flex-direction: column;justify-content: center;align-items: center;}
.supAdminLoginBg input{margin: 8px 0 0 0;}
.supAdminLoginBg button{margin: 8px 0 0 0;}
.superAdminBg{display: flex;align-items: center;justify-content: center;flex-direction: column;}
button{font-size: 16px;padding: 6px 10px;border-radius: 4px;border: solid 0px transparent;}
.dlBtn{background-color: rgb(255, 67, 67);color: white;}
.edBtn{background-color: rgb(80, 138, 255);color: white;}
.saBtn{background-color: rgb(6, 192, 0);color: white;}
.clBtn{background-color: rgb(52, 102, 255);color: white;}