form{display: flex;align-items: center;justify-content: center;flex-direction: column;gap: 10px;}
h2{text-align: center;margin-top: 70px;margin-bottom: 20px;}
select, input, label{font-size: 16px;padding: 6px 12px;border-radius: 6px;}
.checkbxBg{background-color: rgb(234, 234, 234);padding: 6px 12px;border-radius: 6px;}
button{background-color: rgb(86, 63, 255);padding: 6px 12px;border-radius: 6px;color: white;
border: solid 0px transparent;margin-top: 10px;}